<html lang="en">
<!-- Head -->
<%- include('./partials/head', { title: 'Administrar productos' }) %>

    <body class="editProducts">
        <!-- Header -->
        <%- include('./partials/header') %>

            <main class="editProducts__main">
                <h3 id="big_h">Administrar productos</h3>

                <section class="editProducts__main__agregar">
                    <h3>Agregar producto</h3>
                    <hr>
                    <div class="hugeContainer">
                        <input type="file" name="images" class="validateInput" id="images" accept=".jpg, .png, .jpeg" form="addProduct"
                            multiple hidden>
                        <label class="editProducts__main__agregar__productImg" id="imagesLabel" for="images">
                            <img src="/img/products/product.jpg" alt="productImg">
                        </label>

                        <form id="addProduct" class="editProducts__main__agregar__form" action="" method="POST" enctype="multipart/form-data">
                            <div class="inputGroup">
                                <input class="c_nombre validateInput" type="text" id="name" name="name" placeholder="Nombre del producto"required>
                                <input class="c_precio validateInput" id="price" type="number" name="price" placeholder="Precio original"
                                    required>
                                <input class="c_descuento validateInput" type="number" min="0" max="100" name="discount" id="discount"
                                    placeholder="% OFF">
                            </div>
                            <select class="c_categoria" name="category" id="categoryAdd" required>
                                <option value="-1" disabled selected hidden>Categoría</option>
                                <% for( let i=0; i < categories.length; i++ ) { %>
                                    <option value="<%= categories[i].id %>">
                                        <%= categories[i].name %>
                                    </option>
                                    <% } %>
                            </select>
                            <textarea name="description" class="validateInput" id="description" placeholder="Descripción" cols="30" rows="10"
                                required></textarea>

                            <div style="display:flex; flex-direction: column;">
                                <small style='color:red' id="errorName"><%= (locals.productsErrors && productsErrors.name) && productsErrors.name.msg %></small>
                                <small style='color:red' id="errorPrice"><%= (locals.productsErrors && productsErrors.price) && productsErrors.price.msg %></small>
                                <small style='color:red' id="errorDiscount"><%= (locals.productsErrors && productsErrors.discount) && productsErrors.discount.msg %></small>
                                <small style='color:red' id="errorDescription"><%= (locals.productsErrors && productsErrors.description) && productsErrors.description.msg %></small>
                                <small style='color:red' id="errorImages"><%= (locals.productsErrors && productsErrors.images) && productsErrors.images.msg %></small>
                            </div>

                            <h4>Etiquetas</h4>
                            <hr>
                            <div class="tagGroup">
                                <% for( let i=0; i < tags.length; i++ ) { %>
                                    <input type="checkbox" name="tags" id="c_tag<%= tags[i].id %>"
                                        value="<%= tags[i].id %>" hidden>
                                    <label for="c_tag<%= tags[i].id %>">
                                        <%= tags[i].name %>
                                    </label>
                                    <% } %>
                            </div>

                            <button type="submit">Agregar producto</button>
                            <small id="errorSubmit"></small>
                        </form>
                    </div>

                </section>

                <section class="editProducts__main__editar">
                    <hr id="main_hr">
                    <h3>Editar producto</h3>
                    <hr>

                    <div class="hugeContainer">
                        <form action="">
                            <div class="inputGroup">
                                <input class="e_buscar" type="text" placeholder="Buscar...">
                                <select class="e_categoria" name="category" id="categorySearch" required>
                                    <option value="-1" disabled selected hidden>Categoría</option>
                                    <% for( let i=0; i < categories.length; i++ ) { %>
                                        <option value="<%= categories[i].id %>">
                                            <%= categories[i].name %>
                                        </option>
                                        <% } %>
                                </select>
                            </div>

                            <div class="tagGroup">
                                <% for( let i=0; i < tags.length; i++ ) { %>
                                    <input type="checkbox" name="e_tag<%= tags[i].id %>" id="e_tag<%= tags[i].id %>"
                                        value="<%= tags[i].id %>" hidden>
                                    <label for="e_tag<%= tags[i].id %>">
                                        <%= tags[i].name %>
                                    </label>
                                    <% } %>
                            </div>

                            <button type="submit">Buscar</button>
                        </form>

                        <div class="productList">
                            <% for( let i=0; i < products.length; i++ ) { %>
                                <a href="/edit/product/<%= products[i].id %>">
                                    <img src="/img/products/<%= checkImg.forProduct(products[i].images) %>" alt="producto<%= products[i].id %>">
                                    <h5>
                                        <%= products[i].name %>
                                    </h5>
                                </a>
                                <% } %>
                        </div>
                    </div>

                </section>
            </main>

    </body>
<script src="/js/createProduct.js"></script>
</html>