<header class="header">
    <section class="header__mitad">
        <figure class="header__mitad__logo">
            <i id="burger" class="fa-solid fa-bars"></i>
            <a href="/">
                <img src="/img/logo.png" alt="logo">
                <h1>Shinsekai</h1>
            </a>
        </figure>

        <form class="header__mitad__searchbar" action="/search">
            <select class="header__mitad__searchbar--filter" name="filtro" id="filtro">
                <option value="-1" disabled selected hidden>Filtro</option>
                <% for( let i = 0; i < tags.length; i++ ) { %>
                    <option value="<%= tags[i].id %>"><%= tags[i].name %></option>
                <% } %>
            </select>
            <input class="header__mitad__searchbar--input" type="text" name="keywords" id="keywords" placeholder="Buscar">
            <button class="header__mitad__searchbar--button" type="submit"><i
                    class="fa-solid fa-magnifying-glass"></i></button>
        </form>

        <nav class="header__mitad__buttons">
            <a class="header__mitad__buttons__search" href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
            <% if (locals.user && user.admin) { %>
                <a class="header__mitad__buttons__button" href="/edit/product"><i class="fa-solid fa-file-pen"></i></a>
                <a class="header__mitad__buttons__button" href="/user"><i class="fa-solid fa-users"></i></a>
            <% } if(!locals.user) { %>
                <button id="modalTrigger--userAccess" class="header__mitad__buttons__button"><i class="fa-solid fa-user"></i></button>
            <% } %> 
            <button id="modalTrigger--MICArt" class="header__mitad__buttons__button"><i class="fa-solid fa-cart-shopping"></i></button>
            <% if (locals.user) { %>
                <a href="/user/<%= user.userName %>"><img class="killmealready" src="/img/users/<%= user.image %>" alt="pfp"></a>
                <a class="header__mitad__buttons__button" href="/user/logout"><i class="fa-solid fa-right-from-bracket"></i></a>
            <% } %>
        </nav>
    </section>

    <section class="header__categorias">
        <% for( let i = 0; i < categories.length; i++ ) { %>
            <a class="header__categorias--categoria" href="/search?keywords=<%= categories[i].name %>"><%= categories[i].name %></a>
        <% } %>
    </section>
</header>

<%- include('./userAccess') %> 
<%- include('./MICArt') %> 