<div style="<%= (locals.loginErrors || locals.registerErrors) && 'display: block' %>" id="userAccess" class="userAccess">
 
    <div class="userAccess__content">
        <span class="close--userAccess">&times;</span>

        <div class="userAccess__content__quick">
            <button class="userAccess__content__quick--button" type="submit"><i class="fa-brands fa-google"></i></button>
            <button class="userAccess__content__quick--button" type="submit"><i class="fa-brands fa-facebook-square"></i></button>
            <button class="userAccess__content__quick--button" type="submit"><i class="fa-brands fa-twitter"></i></button>
        </div>


        <!-- LOGUEO -->

        <div class="userAccess__content__split">
            <div class="userAccess__content__split__login">
                <h3>Accede a tu cuenta</h3>

                <form action="/user/login" method="POST" id="formLogin">
                    <input type="text" name="username" id="username"  class="validateInput" placeholder="Usuario/Email" value="<%= locals.loginOld && loginOld.username %>" >
                    
                        <small class="msgErrors invalid" id="errorusername"><% if(locals.loginErrors && loginErrors.username) {%> <%= loginErrors.username.msg %> <% } %></small>
                    

                    <input type="password" name="password" id="passLog" class="validateInput" placeholder="Contraseña" value="<%= locals.loginOld && loginOld.password %>">
                    <span class="input-group-text" style="cursor: pointer; text-align: center; justify-content: center;" id="btn-show-pass"><i class="fa-solid fa-eye-slash" style=""></i></span>
                    
                        <small class="msgErrors invalid" id="erroruserpass"> <% if(locals.loginErrors && loginErrors.password) {%><%= loginErrors.password.msg %> <% } %>  </small>
                    
                    <div class="checkbox">
                        <input type="checkbox" name="rememberMe" id="rememberMe" <%= (locals.loginOld && loginOld.rememberMe) && "checked" %>>
                        <label for="rememberMe">Recordarme</label>
                    </div>
                    <button type="submit">Acceder</button>
                </form>

                <a href="#">¿Olvidaste tu contraseña? ¡Click aquí!</a>
            </div>
            
            <hr>





            <!-- REGISTRO -->

            <div class="userAccess__content__split__register">
                <h3>Registrate</h3>

                <form action="/user/register" id="registerForm" method="POST">
                    <input type="text" name="username" id="userName" placeholder="Nombre de usuario" value="<%= locals.registerOld && registerOld.username %>" >
                        <p class="errorMsg" id="errorUsername" %> "><% if(locals.registerErrors && registerErrors.username) {%> <%= registerErrors.username.msg %> <% } %></p>
                    

                    <input type="email" name="email" id="email" placeholder="Email" value="<%= locals.registerOld && registerOld.email %>" >
                    
                        <p class="errorMsg" id="errorEmail"><% if(locals.registerErrors && registerErrors.email) {%> <%= registerErrors.email.msg %> <% } %></p>
                    

                    <input type="password" name="password" id="password" placeholder="Contraseña" value="<%= locals.registerOld && registerOld.password %>" > 

                    <span class="input-group-text" style="cursor: pointer; text-align: center; justify-content: center;" id="btn-pass"><i class="fa-solid fa-eye-slash" style="text-align: center; justify-content: center;"></i></span>

                        <p class="errorMsg" id="errorPass"><% if(locals.registerErrors && registerErrors.password) {%> <%= registerErrors.password.msg %> <% } %></p>
                    <ul id="msgPass" hidden>
                        <li id="mayu">Una mayúscula</li>
                        <li id="minu">Un minúscula</li>
                        <li id="num">Un número</li>
                        <li id="esp">Un caracter especial ($@$!%*?&)</li>
                        <li id="min">Mínimo 6 caracteres</li>
                      </ul>

                    <input type="password" name="v_password" id="v_password" placeholder="Repetir contraseña" value="<%= locals.registerOld && registerOld.v_password %>" >
                    
                        <p class="errorMsg" id="errorPass2"><% if(locals.registerErrors && registerErrors.v_password) {%> <%= registerErrors.v_password.msg %> <% } %></p>
                    

                    <div class="checkbox">
                        <input type="checkbox" name="terms" id="terms" <%= (locals.registerOld && registerOld.terms) && "checked" %>>
                        <label for="terms">Acepto términos y condiciones</label>
                    </div>
                    
                        <p class="errorMsg" id="errorTerms" ><% if(locals.registerErrors && registerErrors.terms) {%> <%= registerErrors.terms.msg %> <% } %></p>
                    

                    <button type="submit">Listo</button>
                    <p class="errorMsg" id="errorSubmit""></p>
                </form>
            </div>
        </div>
    </div>

</div>

<!-- !!! Scripts !!! -->
<%if(!locals.user) { %>
    <script src="/javascript/userAccess_modal.js"></script>
<% } %> 
<script src="/js/userRegister.js" ></script>
<script src="/js/userLogin.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>