<html lang="en">

<head>
    <%- include('../partials/head', { title: 'Perfil' }) %>
</head>

<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main>
        <!-- Imagen y Nombre de perfil -->
        <div class="main__body__profile">
            <div class="main__body__profile-image">
                <img class="image__profile" src="/img/users/<%= userProfile.avatar ? userProfile.avatar.filename : 'AvatarDefault.jpeg' %> " alt="">
                <input type="file" form="form1" name="image" id="image" accept=".jpg, .png, .gif, .jpeg" hidden>
                <label class="profile__edit-img" for="image">
                        <i class="fa-solid fa-camera"></i>Editar Foto
                </label>
                <h3>
                    <%= userProfile.username %>
                </h3>
                <p><a href=""></a>Editar<i class="fa-sharp fa-solid fa-pen"></i></p>
            </div>
            <form id="form1" class="main__body__profile__form" action="/user/edit/<%= userProfile.username %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="profile__forms-divs">
                    <h3 class="profile-titles">
                        General
                    </h3>
                    <div class="form__spaces">
                        <label for="firstName">Nombre</label>
                        <input type="text" name="firstName" value="<%= userProfile.firstName %> ">
                        <% if(locals.profileErrors && profileErrors.firstName) {%>
                            <p class="errorMsg"><%= profileErrors.firsName.msg %> </p>
                        <% } %>
                    </div>
                    <div class="form__spaces">
                        <label for="lastName">Apellido</label>
                        <input type="text" name="lastName" value="<%= userProfile.lastName %> ">
                        <% if(locals.profileErrors && profileErrors.lastName) {%>
                            <p class="errorMsg"><%= profileErrors.lastName.msg %> </p>
                        <% } %>
                    </div>
                    
                    <div class="profile__forms-divs">
                        <div class="form__spaces">
                            <label for="email">E-mail</label>
                            <input type="text" name="email" value="<%= userProfile.email %> ">
                        </div>
                        <div class="form__spaces">
                            <label for="password">Contraseña</label>
                            <input type="password" name="password" value="<%= userProfile.password%> ">
                        </div>
                    </div>
                    <div class="profile__forms-divs">
                        <h3 class="profile-titles">
                            Intereses
                        </h3>

                    </div>
                    <!-- Tags de Intereses -->
                    <div class="tagGroup">
                        <% tags.forEach(tag => { %>
                            <input type="checkbox" name="tags" id="<%= tag.name %>" value="<%= tag.id %>" <%= userProfile.tagsFollowing.find(t => t.name == tag.name) && 'checked' %> hidden>
                            <label for="<%= tag.name %>"><%= tag.name %></label>
                        <% }) %>
                    </div>

                </div>
                
                <div class="main__profile__buttons">
                    <button class="main__profile-submit" name="save">Guardar</button>
                    <button class="main__profile-cancel" name="cancel">Cancelar</button>
                </div>
            </form>
        </div>
    </main>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>

</html>