<!DOCTYPE html>
<html>
  <%- include('../partials/head', {title: "Home"}) %>
  <body class="home">
    
    <%- include('../partials/header') %> 

    <main class="home__main">
      
      <%- include('../partials/home/banner') %>

      <%- include('../partials/home/popular') %>
      
      <%- include('../partials/home/tags') %>
      
      <%- include('../partials/home/recommended') %>

    </main>

    <%- include('../partials/footer') %> 
    
  </body>

<script src="/javascript/home/loadProductImages.js"></script>
</html>