<html lang="en">
<%- include('../partials/head', { title: userProfile.userName }) %>

    <body class="profile">
        <%- include('../partials/header') %>
        
        <main class="profile__main">
            <div class="profile__main__firstColumn column">
                <img src="/img/users/<%= userProfile.avatar ? userProfile.avatar.filename : 'AvatarDefault.jpeg'%> " alt="user-img">
                <h1><%= userProfile.username %></h1>
                <% if (locals.user && ((userProfile.username === user.username) || user.admin)) { %>
                    <div class="buttons">
                        <a href="/user/edit/<%= userProfile.username %> ">Editar perfil</a>
                        <a href="#">Ver cuentas vinculadas</a>
                        <a href="#">Datos de tarjeta</a>
                    </div>
                <% } %>
            </div>

            <div class="profile__main__secondColumn column">
                <div>
                    <h4>Datos</h4>
                    <div class="row">
                        <p><%= userProfile.firstName %></p>
                        <p><%= userProfile.lastName %></p>
                    </div>
                    <p><%= userProfile.email %></p>
                </div>
                
                <div>
                    <h4>Subscripciones</h4>
                    <div class="subscriptions">
                        <div class="row">
                            <% if (userProfile.subscription) { %>
                                <p><%= userProfile.subscription.name %></p>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>

            <div class="profile__main__thirdColumn column">
                <div>
                    <h4>Intereses</h4>
                    <div class="tags">
                        <% userProfile.tagsFollowing.forEach(tag => { %>
                            <a href="/search?keywords=<%= tag.name %>"><%= tag.name %></a>
                        <% }) %>
                    </div>
                </div>
                
                <div>
                </div>
            </div>
        </main>
            
        <%- include('../partials/footer') %>
    </body>

</html>