<html lang="en">
<%- include('../partials/head', { title: 'Home' }) %>

    <body class="search">
        <%- include('../partials/header') %>
            <main class="search__main ">
                <section class="search__main__section">
                    <% products.forEach(product => { %>
                        <div class="productContainer">
                            
                            <a href="/products/details/<%= product.id %>" class="productContainer__product">
                                <img src="/img/products/<%= checkImg.forProduct(product.images) %>" alt="pr-img">
                                <div class="nameContainer">
                                    <h4><%= product.name %></h4>
                                </div>
                            </a>
                    </div>
                    <% }) %>         
                </section>
            </main>
            <%- include('../partials/footer') %>
    </body>
    <script src="/javascript/home/loadProductImages.js"></script>
</html>