<html lang="en">
<%- include('../partials/head', { title: 'Home' }) %>

    <body class="home">
        <%- include('../partials/header') %>
            <main class="home__main ">
                <section class="recommended-grid">
                    <% products.forEach(product => { %>
                        <div class="productContainer">
                            
                            <a href="/products/details/<%= product.id %>" class="link"><img src="/img/products/<%= checkImg.forProduct(product.images) %>" alt=""></a>
                        
                        <div class="productInfo">
                            <h5><%= product.name %></h5>
                            <h5>$<%= product.price %></h5>
                        </div>
                    </div>
                    <% }) %>
                    
                               
                </section>
            </main>
            <%- include('../partials/footer') %>
    </body>
    <script src="/javascript/home/loadProductImages.js"></script>
</html>