<html lang="en">
<%- include('../partials/head', { title: 'Usuarios' }) %>

    <body class="users">
        <%- include('../partials/header') %>
            <h3>Lista de usuarios</h3>

            <main class="users__list">
                <section>
                <% 
                    for( let i = 0; i < users.length; i++ ) 
                    { 
                        let user = users[i];
                %>
                
                <div class="users__list__user">
                    <img src="/img/users/<%= user.image %>" alt="user-img">
                    <% if(isAdmin(user)) { %>
                        <b>Admin</b>
                    <% } %>
                    <a href="/user/<%= user.userName %>"><%= user.userName %></a>
                    <p><%= user.firstName %></p>
                    <p><%= user.lastName %></p>
                    <p><%= user.email %></p>
                    <a href="/user/edit/<%= user.userName %>"><i class="fa-solid fa-pen-to-square"></i></a>
                    <form action="/user/delete/<%= user.userName %>?_method=DELETE" method="POST"><button><i class="fa-solid fa-trash"></i></button></form>
                </div>
                
                <%  } %>
                </section>
            </main>
            <%- include('../partials/footer') %>
    </body>

</html>