<html lang="en">
<%- include('../partials/head', { title: 'Usuarios' }) %>

    <body class="users">
        <%- include('../partials/header') %>
        
        <h3 id="title">Lista de usuarios</h3>
        <main class="users__list">
                <section>
                <% 
                    for( let i = 0; i < users.length; i++ ) 
                    { 
                        let user = users[i];
                %>
                
                <div class="users__list__user">
                    <div class="cosarara">
                        <img src="/img/users/<%= user.avatar ? user.avatar.filename : 'AvatarDefault.jpeg'%>" alt="user-img">
                        <% if(user.isAdmin) { %>
                            <b class="isAdmin">Admin</b>
                        <% } %>

                        <a href="/user/<%= user.username %>"><b><%= user.username %></b></a>
                        <p class="hideMobile"><%= user.firstName %></p>
                        <p class="hideMobile"><%= user.lastName %></p>
                        <p class="hideMobile"><%= user.email %></p>
                    </div>
                    
                    <div class="buttons">
                        <a href="/user/edit/<%= user.username %>"><i class="fa-solid fa-pen-to-square"></i></a>
                        <form action="/user/delete/<%= user.username %>?_method=DELETE" method="POST"><button><i class="fa-solid fa-trash"></i></button></form>
                    </div>
                </div>
                
                <%  } %>
                </section>
            </main>
            <%- include('../partials/footer') %>
    </body>

</html>